*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-image: url(../../dll/Stupa_Borobudur.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div{
    width: 700px;
    height: 600px;
    border: 2px;
    border-color: red;
    border-style: solid;
    background-image: url(../../dll/avocado.jpg);
}
.justify{
    margin-top: 20px;
    text-align: justify;
    color: blue;
    font-size: 15px;
}
.repeat{
    background-repeat: repeat-x;
}